/*@font-face {*/
    /*font-family:'VolvoSansMedium';*/
    /*src:url(../fonts/VolvoSansWeb-Medium.eot);*/
    /*src:url(../fonts/VolvoSansWeb-Medium.eot?#iefix)format('embedded-opentype'),url(../fonts/VolvoSansWeb-Medium.woff)format('woff'),url(../fonts/VolvoSansWeb-Medium.ttf)format('truetype');*/
    /*font-weight:400;*/
    /*font-style:normal*/
/*}*/

.service-nav-box {

}
.service-nav-box ul {
    list-style: none;
    text-align: justify;
    padding: 0;
    display:block;
    width:100%;
}
.service-nav-box ul:after {
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}
.service-nav-box ul li {
    display: inline-block;

    overflow: hidden;
}
/* Gradient button */
.service-nav-box ul li a {
    display: block;
    line-height: 39px;
    white-space: nowrap;
    color: #4d4943;
    text-decoration: none;
    background: url('/bitrix/templates/motorland/images/g-button-bg.png') repeat-x scroll 0 0;
    cursor: pointer;
    text-align: center;

    /*font-size: 13px !important;*/
    font-size: 11px !important;
    font-family: "Volvo Sans Regular","Arial Narrow","Helvetica Neue",Helvetica,Roboto,Arial,Arial,Helvetica,sans-serif;
    text-transform: uppercase;
}
.service-nav-box.serv-bg ul li  {
    /*background: url('/bitrix/templates/motorland/img/g-button-bg-new.png') repeat-x scroll 0 0;*/
}
.service-nav-box.serv-bg {
    /*background: url('/bitrix/templates/motorland/img/g-button-bg-new.png') repeat-x scroll 0 0;*/
    height:41px;
    overflow: hidden;
    background-color: #222;
}
.service-nav-box.serv-bg ul li a {
    display: block;
    line-height: 39px;
    white-space: nowrap;
    color: #fff;
    text-decoration: none;
    background: none;
    cursor: pointer;
    text-align: center;
    border:none;
}
.service-nav-box ul li a:hover {
    color: #2a4681;
    background-position: 0 100%;
}
.service-nav-box.serv-bg ul li:hover {
    background-color: white;
}
.service-nav-box.serv-bg ul li.active {
    background-color: white;
}
.service-nav-box.serv-bg ul li.active a {
    /*color: #453d32;*/
    background:none;
    border:none;
    color: #0F409D;
}
.service-nav-box.serv-bg ul li a:hover {
    /*color: #453d32;*/
    background:none;
    border:none;
    color: #0F409D;
}



.service-nav-box.serv-bg, .service-nav-box.serv-bg ul {
    padding:0;
    margin:0;
    padding-left: 5px;
    padding-right: 5px;
}
.service-nav-box.serv-bg ul li {
    display: inline-block;
    padding: 0 7px;
    height: 41px;
    overflow: hidden;

}


.visual {
    width:100%;
    background: #ECECEC;
    /*padding-top: 140px;*/
}

.visual h2,
.block-page.serv h2 {
    font-family: "Volvo Broad","Volvo Sans Medium","Volvo Sans Regular","Arial Narrow","Helvetica Neue",Helvetica,Roboto,Arial,Arial,Helvetica,sans-serif !important;
    font-weight: normal !important;
    font-size: 35px !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: initial !important;
    letter-spacing: normal !important;
    margin-top: 20px;
    margin-bottom: 20px !important;
}
.block-page.serv p {
    max-width: 100%;
}

.visual p {
    margin: 10px auto;
    line-height: normal;
    font-size: 16px;
    max-width: 100%;
}


/***********************************/
.block-page.serv {
    font-size: 16px;
}

/*.block-page.serv .page {*/
.block-page .page {
    max-width: 1140px;
    border: 1px solid #CCCAC5;
    background-color: white;
    /*margin-top: 40px;*/
    /*margin-bottom: 20px;*/
    /*margin-left: 20px;*/
    margin-left: auto;
    margin-right: auto;
}

/*.block-page.serv td {*/
.block-page td {
     border-bottom: 1px solid #2C2C2C;
}

.optional-service-form {
    float: right;
    margin: 0px 20px 10px 50px;
    width: 260px;
}

.optional-service-form .offer-form-title {
    margin-bottom: 30px;
    display: block;
    font-weight: bold;
    font-size: 15px;
}
.optional-service-form .row {
    margin-left: 0;
    margin-right: 0;
}
.optional-service-form .row label {
    zoom: 1;
    font-weight: normal;
}
.optional-service-form .btn-send {
    outline: none !important;
    width: 100%;
    display: block;
    box-sizing: initial;
    border: 1px solid #ddd;
    background-color: transparent;
    padding: 15px 0;
    color: #222;
}
.optional-service-form .btn-send:hover {
    background-color: #ddd;
}

.center-wrapper-for-service {
    margin: 0 auto;
    /*outline: 1px solid black;*/
    width: 1370px;
}