div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}

body.new-offers .formAndOther .callAndTD.check input[type='checkbox']{
	height: 13px;
	position: relative;
}
body.new-offers .formAndOther .callAndTD.check{
	padding: 0px 15px;
}
body.new-offers .formAndOther .callAndTD.check span{
	color: #fff;
	position: relative;
}
body.new-offers .formAndOther .callAndTD.check span a{
	text-decoration: underline;
}