div.news-list
{
	word-wrap: break-word;
}
div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.img-one .banner-text {
	position: absolute;
	top: 35%;
	text-align: center;
	margin: 0px auto;
	font-family: "Volvo Broad","Volvo Sans Medium","Volvo Sans Regular","Arial Narrow","Helvetica Neue",Helvetica,Roboto,Arial,Arial,Helvetica,sans-serif;
	width: 100%;
	color: #ffffff;
	font-size: 3vw;
}

.img-one .banner-text p, span {
	font-size: 1.4vw;
	margin: 0px auto;
}


.img-one .banner-text p:first-child, span:first-child {
	font-size: 3vw;
	margin: 0px auto;
}


.gallery-block{
	max-width: 500px;
}


/* Start:/bitrix/components/prime/seoblock.modelpage/templates/.default/style.css?14400641063411*/
.model-reviews-text {
	margin-top: 50px;
}



.model-reviews-text-item .model-reviews-text-item-text {
	color: #000;
}



.model-reviews-text-item:nth-child(2n) .model-reviews-text-item-text,
.model-reviews-text-item:nth-child(2n) .model-reviews-text-item-image {
	float: left;
}

.model-reviews-text-item:nth-child(2n +1) .model-reviews-text-item-text,
.model-reviews-text-item:nth-child(2n +1) .model-reviews-text-item-image {
	float: right;
}

.model-reviews-text-item-text {
	width: 50%;
	float: left;
	height: 30vw;
	/*background-color: darkblue;*/
	overflow: hidden;
	position: relative;
	margin-bottom: 50px;
}

.model-reviews-text-item-text-wrapper {
	position: absolute;
	transform: translate(-50%,-50%);
	left: 45%;
	top: 30%;
	/* outline: 1px solid red; */
	width: 100%;
	max-width: 500px;
}
.model-reviews-text-item-text-wrapper .stars{
	margin-bottom: 30px;
}
.model-reviews-text-item-text-wrapper .date{
	font-size: 16px;
	margin-bottom: 15px;
	color: #333;
}

.model-reviews-text-item-text-wrapper h2 {
	font-family: "Volvo Broad","Volvo Sans Medium","Volvo Sans Regular","Arial Narrow","Helvetica Neue",Helvetica,Roboto,Arial,Arial,Helvetica,sans-serif !important;
	font-weight: normal !important;
	font-size: 35px !important;
	padding: 0 !important;
	line-height: initial !important;
	letter-spacing: normal !important;
}
.model-reviews-text-item-text-wrapper p {
	visibility: visible;
	line-height: normal;
	font-size: 16px;
}

.model-reviews-text-item-image {
	width: 50%;
	float: left;
	height: 30vw;
	background-size: cover;
	background-position: center;
	margin-bottom: 50px;
}
@media (max-width: 1099px) {
	.model-reviews-text-item {
		position: relative;

		height: 410px;
	}






	.model-reviews-text-item-text {
		float: none !important;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		width: 100%;
		z-index: 1;
		height: 710px;
	}


	.model-reviews-text-item-text-wrapper {
		max-width: 100%;
		padding-left: 4vw;
		padding-right: 4vw;
	}


	.model-reviews-text-item-text-wrapper p {
		max-width: initial;
	}
	.model-reviews-text-item-text-wrapper h2 {
		font-size: 30px !important;
	}
	.model-reviews-text-item-image{
		display: none;
	}




}
/* End */

.container > h1 {
	margin-top: 90px;
	text-align: center;
	margin-bottom: 30px;
}




::-webkit-input-placeholder {color:#dadada;}
::-moz-placeholder          {color:#dadada;}/* Firefox 19+ */
:-moz-placeholder           {color:#dadada;}/* Firefox 18- */
:-ms-input-placeholder      {color:#dadada;}